* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f3f3f3;
    font-family: "Roboto",sans-serif;
}

.nav {
    background-color: black;
    color: #ffffff;
    height: 80px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    width: 36%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
}

.nav-title {
    margin-left: 20px;
}

.btn {
    height: 35px;
    width: 100px;
    background-color: #17a2b8;
    color: #ffffff;
    border: none;
    font-size: 16px;
    box-shadow: 5px 5px #000000;
}

.flex-container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-card {
    width: 85%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.card-header {
    background-color: #17a2b8;
    height: 125px;
    margin-bottom: 70px;
}

.card-body {
    padding: 20px;
}

.card-body h1, 
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
}

.avatar-m {
    border-radius: 50%;
    background-color: #fff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.icon-s {
    height: 20px;
}

a {
    color: #3a81e6;
}

.box-card {
    width: 85%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.box2-card {
    width: 30%;
    background-color: #fff;
    border: 2px solid #999;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.box-header {
    display: flex;
    background-color: #333333;
    height: 55px;
    color: white;
    align-items: center;
    padding-left: 3%;
}
.box2-header {
    display: flex;
    background-color: #333333;
    height: 55px;
    color: white;
    align-items: center;
    
}
.box-body {
    padding: 20px;
}

.box-body h1, 
.box-body h2,
.box-body h3,
.box-body p {
    margin: 20px 0px;
}
.box-body :nth-child(2) {
    color:gray;
}

.notifications {
    color: black;
    background-color: #999;
    border-radius: 50%;
    margin: 6px;
    padding: 2px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icons-btn {
    display: inline-flex;
    justify-content: space-between;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    overflow: hidden;
}
.col {
    flex: 1;
}